create database session6;
create schema se;

create table se.customers(
    customer_id serial primary key,
    customer_name varchar(100),
    city varchar(50)
);

create table se.orders
(
    order_id    serial primary key,
    customer_id int references se.customers (customer_id),
    order_date date,
    total_amount numeric(10,2)
);

create table se.order_items(
    item_id serial primary key,
    order_id int references se.orders(order_id),
    product_name varchar(100),
    quantity int,
    price numeric(10,2)
);


select c.customer_id as "Tên khách hàng", o.order_date as "Ngày đặt", o.total_amount as "Tổng tiền"
from se.customers c
join se.orders o
on c.customer_id = o.customer_id;

select sum(total_amount) as "Tổng doanh thu", avg(total_amount) as "Trung bình giá trị đơn hàng", max(total_amount) as "Đơn hàng lớn nhất" , min(total_amount) as "Đơn hàng nhỏ nhất", count(order_id) as "Số lượng đơn hàng"
from se.orders;

select c.city as city, sum(total_amount) as "Revenue"
from se.customers c
join se.orders o
on c.customer_id = o.customer_id
group by c.city
having sum(total_amount) > 10000;


select c.customer_name, o.order_date, sum(oi.quantity) as quantity, sum(o.total_amount) as total_price
from se.customers c
join se.orders o
on c.customer_id = o.customer_id
join se.order_items oi
on o.order_id = oi.order_id
group by c.customer_name, o.order_date;

select c.customer_name
from se.customers c
join se.orders o
on c.customer_id = o.customer_id
group by c.customer_id, c.customer_name
having sum(o.total_amount) = (
    select max(tmp.total_price)
    from (
        select sum(o2.total_amount) as total_price
        from se.customers c2
        join se.orders o2
        on c2.customer_id = o2.customer_id
        group by c2.customer_id, c2.customer_name
         ) as tmp
    );