create database companyDB;
create schema companysc;
-- drop database companyDB;

create table companysc.customers(
    customer_id serial primary key,
    customer_name varchar(100) not null,
    city varchar(100) not null
);

create table companysc.orders(
    order_id int primary key,
    customer_id int references companysc.customers(customer_id),
    order_date date not null,
    total_price int not null
);

create table companysc.products(
                                   product_id serial primary key,
                                   product_name varchar(100),
                                   category varchar(100)
);

create table companysc.order_items(
    item_id serial primary key,
    order_id int references companysc.orders(order_id),
    product_id int references companysc.products(product_id),
    quantity int,
    price int
);

INSERT INTO companysc.customers (customer_name, city) VALUES
                                               ('Nguyễn Văn A', 'Hà Nội'),
                                               ('Trần Thị B', 'Đà Nẵng'),
                                               ('Lê Văn C', 'Hồ Chí Minh'),
                                               ('Phạm Thị D', 'Hà Nội');

INSERT INTO companysc.orders (order_id, customer_id, order_date, total_price) VALUES
                                                                        (101, 1, '2024-12-20', 3000),
                                                                        (102, 2, '2025-01-05', 1500),
                                                                        (103, 1, '2025-02-10', 2500),
                                                                        (104, 3, '2025-02-15', 4000),
                                                                        (105, 4, '2025-03-01', 800);

INSERT INTO companysc.order_items (item_id, order_id, product_id, quantity, price)
VALUES
    (1, 101, 1, 2, 1500),
    (2, 102, 2, 1, 1500),
    (3, 103, 3, 5, 500),
    (4, 104, 2, 4, 1000);

INSERT INTO companysc.products (product_id, product_name, category)
VALUES
    (1, 'Laptop Dell', 'Electronics'),
    (2, 'IPhone 15', 'Electronics'),
    (3, 'Bàn học gỗ', 'Furniture'),
    (4, 'Ghế xoay', 'Furniture');



select sum(o.total_price) as total_revenue, count(o.order_id) as order_count
from companysc.customers c
join companysc.orders o
on c.customer_id = o.customer_id
group by c.customer_id
having sum(o.total_price) > 2000;


select c.customer_name as customer_name
from companysc.customers c
join companysc.orders o
on c.customer_id = o.customer_id
group by c.customer_name
having sum(o.total_price) > (
    select avg(total_price)
    from companysc.orders
    );


select c.city
from companysc.customers c
join companysc.orders o
on c.customer_id = o.customer_id
group by c.city
having sum(o.total_price) = (
    select max(tmp.total_price)
    from (
        select sum(oo.total_price) as total_price
        from companysc.customers cc
        join companysc.orders oo
        on cc.customer_id = oo.customer_id
        group by cc.city
         ) as tmp
    );

select c.customer_name, c.city, sum(it.quantity) as quantity, sum(total_price) as total_price
from companysc.customers c
join companysc.orders o
on c.customer_id = o.customer_id
join companysc.order_items it
on o.order_id = it.order_id
group by c.customer_name, c.city;