select p.product_name as product_name, sum(o.total_price) as total_revenue
from productsc.products p
join productsc.orders o
on p.product_id = o.product_id
group by p.product_name
having sum(o.total_price) = (
    select sum(tmp.total_price) as max_price
    from productsc.orders tmp
    group by tmp.product_id
    order by sum(tmp.total_price) desc
    limit 1
    );


select p.category as category, sum(o.total_price) as total_price
from productsc.products p
join productsc.orders o
on p.product_id = o.product_id
group by p.category;