create database StudentDB;
create schema studentsc;


create table studentsc.students(
    student_id serial primary key,
    full_name varchar(100),
    major varchar(50)
);

create table studentsc.course(
    course_id serial primary key,
    course_name varchar(100),
    credit int
);

create table studentsc.emrollments(
    student_id int references studentsc.students(student_id),
    course_id int references studentsc.course(course_id),
    score numeric(10,2)
);

select * from studentsc.students;
select * from studentsc.course;
select * from studentsc.emrollments;

select s.full_name, c.course_name, e.score
from studentsc.students s
join studentsc.emrollments e
on s.student_id = e.student_id
join studentsc.course c
on e.course_id = c.course_id;


select avg(e.score) as "Điểm trung bình của từng sinh viên"
from studentsc.students s
join studentsc.emrollments e
on s.student_id = e.student_id
group by s.student_id;


select max(tmp.score_avg) as max_score
from (
        select avg(e.score) as score_avg
        from studentsc.students s
        join studentsc.emrollments e
on s.student_id = e.student_id
        group by s.student_id
     ) as tmp;

select min(tmp.score_avg) as min_score
from (
         select avg(e.score) as score_avg
         from studentsc.students s
                  join studentsc.emrollments e
                       on s.student_id = e.student_id
         group by s.student_id
     ) as tmp;



select c.course_name as major
from studentsc.course c
join studentsc.emrollments e
on c.course_id = e.course_id
group by c.course_id, c.course_name
having avg(e.score) > 7.5;


select s.full_name, c.course_name, c.credit, e.score
from studentsc.students s join studentsc.emrollments e
on s.student_id = e.student_id
join studentsc.course c on e.course_id = c.course_id;

select s.full_name
from studentsc.students s
join studentsc.emrollments e on s.student_id = e.student_id
group by s.student_id, s.full_name
having avg(e.score) > (
    select avg(tmp.avg_score)
    from (
        select avg(e2.score) as avg_score
        from studentsc.students s2
        join studentsc.emrollments e2
        on s2.student_id = e2.student_id
        group by s2.student_id
         ) as tmp
    );




