create schema emp;

create table emp.departments(
    dept_id serial primary key,
    dept_name varchar(100)
);

create table emp.employees(
    emp_id serial primary key,
    emp_name varchar(100) not null,
    dept_id int references emp.departments(dept_id),
    salary numeric(10, 2),
    hire_date date
);

create table emp.projects(
    project_id serial primary key,
    project_name varchar(100),
    dept_id int references emp.departments(dept_id)
);

select e.emp_name as name, d.dept_name as department_name, e.salary as salary
from emp.departments d
join emp.employees e
on d.dept_id = e.dept_id;

select sum(salary) as "Tổng lương", avg(salary) as "Mức lương trung bình", max(salary) as "Lương cao nhất", min(salary) as "Lương thấy nhất", count(emp_id) as "Số nhân viên"
from emp.employees;

select d.dept_name as department_name
from emp.departments d
join emp.employees e
on d.dept_id = e.dept_id
group by d.dept_id
having avg(e.salary) > 15000000;

select p.project_name, d.dept_name, e.emp_name
from emp.departments d
join emp.projects p on d.dept_id = p.dept_id
join emp.employees e on d.dept_id = e.dept_id;

select emp_name
from emp.employees
where salary in (
    select max(e.salary) as salary
    from emp.departments d
    join emp.employees e
    on d.dept_id = e.dept_id
    group by d.dept_id
    );